<div class="container-fluid mt-5 content white-font smallFluidContainer mb-5">
  <div class="row">
    <div class="col-12">
      <h4>
        {{ 'useragreement.agreement' | translate }}
      </h4>
      <hr class="whiteHr">
      <p>
        bwLehrpool-Suite (Dozentenmodul) <br>
        Copyright © 2016 Universität Freiburg
      </p>
      <p>
        {{ 'useragreement.notice1' | translate }} <br>

        {{ 'useragreement.notice2' | translate }}<br>
      </p>
      <p>
        {{ 'useragreement.licence' | translate }} <br>

        Dieses Programm ist freie Software. Es kann unter den Bedingungen der GNU General Public License
        (GPL) Version 2 verändert und weitergegeben werden. Der vollständige Text der GNU General Public
        Licence der Version 2 (GPL2) kann hier <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html" target="_blank">http://www.gnu.org/licenses/old-licenses/gpl-2.0.html</a>
        eingesehen werden. <br>

        {{ 'useragreement.notice4' | translate }}


      </p>
    </div>
  </div>

</div> <!-- container -->
